@model RegisterPackageViewModel

<div class="container border p-5">
    <h3> @User.Identity.Name Your Register Package List</h3>
    @if (ViewBag.Message == "Register Delete Successfully!")
    {
        <h5 class="text-success">@ViewBag.Message</h5>
    }
    <hr />
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Location</th>
                <th scope="col">Price</th>
                <th scope="col">Start Date</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Date</th>
                <th scope="col">End Time</th>
                <th scope="col">Reg Date</th>
                <th scope="col">Reg Time</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.AllRegisterPackage.Count; i++)
            {
            <tr>
                <th scope="row"> @Model.AllRegisterPackage[i].RegId </th>
                <td> @Model.AllRegisterPackage[i].PackageTitle </td>
                <td> @Model.AllRegisterPackage[i].Description </td>
                <td> @Model.AllRegisterPackage[i].Location </td>
                <td> @Model.AllRegisterPackage[i].Price </td>
                <td> @Model.AllRegisterPackage[i].StartDate </td>
                <td> @Model.AllRegisterPackage[i].StartTime </td>
                <td> @Model.AllRegisterPackage[i].EndDate </td>
                <td> @Model.AllRegisterPackage[i].EndTime </td>
                <td> @Model.AllRegisterPackage[i].RegDate </td>
                <td> @Model.AllRegisterPackage[i].RegTime </td>

                <td>
                    <a type="button" class="btn btn-danger btn-sm" asp-controller="Registration" asp-action="DeleteRegistration" asp-route-registrationId="@Model.AllRegisterPackage[i].RegId">Delete</a>
                    <a type="button" class="btn btn-info btn-sm" asp-controller="Registration" asp-action="UpdateRegistration" asp-route-registrationId="@Model.AllRegisterPackage[i].RegId">Edit</a>
                    @if (DateTime.Parse(Model.AllRegisterPackage[i].StartDate) == DateTime.Now.Date.AddDays(3) && Model.AllRegisterPackage[i].CheckInStatus == false)
                    {
                        <a type="button" class="btn btn-success btn-sm" asp-controller="Admin" asp-action="CheckInPackage" asp-route-registrationId="@Model.AllRegisterPackage[i].RegId">CheckIn</a>
                    }
                    @if (DateTime.Parse(Model.AllRegisterPackage[i].StartDate) == DateTime.Now.Date.AddDays(3) && Model.AllRegisterPackage[i].CheckInStatus == true)
                    {
                        <button class="btn btn-secondary btn-sm" disabled>CheckIn</button>
                    }
                    @if (DateTime.Parse(Model.AllRegisterPackage[i].StartDate) == DateTime.Now.Date.AddDays(1) && Model.AllRegisterPackage[i].CheckInStatus == false)
                    {
                        <a type="button" class="btn btn-success btn-sm" asp-controller="Admin" asp-action="CheckInPackage" asp-route-registrationId="@Model.AllRegisterPackage[i].RegId">CheckIn</a>
                    }
                    @if (DateTime.Parse(Model.AllRegisterPackage[i].StartDate) == DateTime.Now.Date.AddDays(1) && Model.AllRegisterPackage[i].CheckInStatus == true)
                    {
                        <button class="btn btn-secondary btn-sm" disabled>CheckIn</button>
                    }

                </td>
            </tr>
            }
        </tbody>
    </table>
</div><br><br><br>

              <script></script>



